:root {
  --gray-01: #f8fafc;
  --gray-02: #e2e8f0;
  --gray-03: #94a3b8;
  --gray-04: #334155;
  --gray-05: #1e293b;
  --gray-06: #0f172a;
  --gray-07: #020617;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'IBM Plex Sans', sans-serif;
  display: grid;
  place-items: center;
  padding: 1rem;
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: -1;
  object-fit: cover;
}

.container {
  border-radius: 32px;
  border: 1px solid var(--gray-04);
  background: rgba(2, 6, 23, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  gap: 40px;
}

.container header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.container header i {
  color: var(--gray-02);
  padding: 12px;
  border-radius: 16px;
  border: 1px solid var(--gray-05);
  background: var(--gray-06);
  font-size: 1.5rem;
}

.container header h1 {
  color: var(--gray-01);
  text-align: center;
  font-family: IBM Plex Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.container ul {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  list-style: none;
}

.container ul li {
  width: 100%;
  display: flex;
  padding: 16px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid var(--gray-04);
  background: var(--gray-06);
}

.container ul li a {
  width: 100%;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--gray-01);
}

.container ul li a i:first-child {
  display: flex;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid var(--gray-05);
  background: var(--gray-06);
  font-size: 1.1rem;
}

.container ul li a span {
  flex: 1;
}

.container ul li a i:last-child {
  display: flex;
  padding: 16px;
  font-size: 1.1rem;
}

.container > div {
  width: 100%;
  height: 2px;
  background-color: var(--gray-04);
}

.container form {
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: center;
}

.container form div {
  width: 100%;
  flex: 1;
  position: relative;
}
.container form div i {
  position: absolute;
  color: var(--gray-03);
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.1rem;
}

.container form div input {
  width: 100%;
  border-radius: 16px;
  border: 1px solid var(--gray-04);
  background: var(--gray-06);
  padding: 16px 16px 16px 40px;
  color: var(--gray-01);
}

.container form div input::placeholder {
  color: var(--gray-02);
}

.container form button {
  border-radius: 16px;
  border: 1px solid var(--gray-04);
  background: var(--gray-06);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  cursor: pointer;
}

.container form button i {
  font-size: 16px;
  color: var(--gray-01);
}

@media screen and (max-width: 700px) {
  html {
    font-size: 15px;
  }
  .container ul {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .container ul {
    width: 100%;
  }
  .container ul li a i:first-child {
    display: none;
  }
}
